.main .app-background-setting {
    margin-top: 80px;
}

.main .app-background-setting .button-primary-1 {
    margin-top: 20px;
}

.main .form-control {
    width: 360px;
    background-color: white;
}

.main .custom-file {
    width: 400px;
}
