.main .select-file {
    margin-top: 80px;
}

.main .select-file .form-control-file {
    border:    2px solid #121212;
    width: 400px;
    background-color: #ebebeb;
    padding: 5px;
}

.main .select-file .button-primary-1 {
    margin-top: 20px;
}

