* {
    border :0px solid green;
}

body > .container {
    min-width: 1200px;
}

.main {
    height: 1800px;
}

.left-navbar {
    background-color:  #373737;
    width: 370px;
}

.left-navbar .nav {
    margin-top: 30px;
}

.left-navbar .nav > a {
    margin-bottom: 70px;
}

.left-navbar .nav li {
    margin-bottom: 10px;
}

.left-navbar .card {
    background-color: #373737;
    padding: 0px;
}

.left-navbar .card .nav{
    margin: 0px;
    padding-left: 55px;
    padding-top: 10px;
}

.left-navbar .card .nav-link{
    padding: 5px;
}

.left-navbar .logout{
    color: white;
    margin-top: 180%;
}

.main {
    background-color: #EBEBEB;
    padding-top: 30px;
}

.main .employee-setting .employee{
    background-color: white;
    padding: 10px;
}

.main .employee-setting .employee .employee-name {
    background-color: #EBEBEB;
}

.main .roadmaster-setting .roadmaster{
    background-color: white;
    padding: 10px;
}

.main .roadmaster-setting .roadmaster .roadmaster-name {
    background-color: #EBEBEB;
}

.main .add {
    margin: auto;
}

.main .close {
    padding: 0px;
}
