.main .employee-setting .employee{
    background-color: white;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    width: 200px;
}

.main .employee-setting .employee .employee-name {
    background-color: #EBEBEB;
    margin: 0px;
    padding-top: 5px;
}

.main .roadmaster-setting .roadmaster{
    background-color: white;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    width: 200px;
}

.main .roadmaster-setting .roadmaster .roadmaster-name {
    background-color: #EBEBEB;
    margin: 0px;
    padding-top: 5px;
}

.main .add {
    margin-left: 155px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 3px;
}

.main .close {
    padding: 0px;
    width: 35px;
    height: 30px;
    padding-left: 5px;
}
