* {
    border :0px solid blue;
}

body > .container {
    min-width: 1200px;
}

.main {
    height: 1200px;
}

.left-navbar {
    background-color:  #373737;
    width: 370px;
}

.left-navbar .nav {
    margin-top: 30px;
}

.left-navbar .nav > a {
    margin-bottom: 70px;
}

.left-navbar .nav li {
    margin-bottom: 10px;
}

.left-navbar .card {
    background-color: #373737;
    padding: 0px;
}

.left-navbar .card .nav{
    margin: 0px;
    padding-left: 55px;
    padding-top: 10px;
}

.left-navbar .card .nav-link{
    padding: 5px;
}

.left-navbar .logout{
    color: white;
    margin-top: 180%;
}

.main {
    background-color: #EBEBEB;
    padding-top: 30px;
}

.main #agreementSelect {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
}

.main .calendar {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
}

.main .term {
    border-left: 5px solid black;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.main .term button {
    margin-top: -8px;
}

.main .card-body {
    height: 50px;
    padding: 3px;
    margin-top: -50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.main .card-body .icon-hide {
    margin-right: 150px;
}

.modal img{
    width:100%;
}