.main .search-option {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.main #roadmasterSelect {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
    width: 150px;
}

.main .roasmaster-option {
    margin-right: 180px;
}

.main .search-option .calendar-option {
    margin-left: 40px;
    margin-right: 10px;
}

.main .calendar {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
    width: 170px;
    margin-right: 5px;
    margin-left: 5px;
}

.main .guestbook {
    padding: 20px;
}

.main .guestbook .img-thumbnail {
    padding: 2px;
}

.main .guestbook .card {
    margin-bottom: 20px;
}

.main .guestbook .card-body {
    height: 50px;
    padding: 3px;
    margin-top: -50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.main .guestbook .card-body .icon-hide {
    margin-right: 130px;
}

.modal img{
    width:100%;
}