.main #managerSelect {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
    width: 200px;
    margin-top: 20px;
}

.main .button-primary-1 {
    width: 400px;
    margin-top: 15px;
}