.main .popup-setting {
    margin-top: 80px;
}

.main .popup-setting .button-primary-1 {
    margin-top: 30px;
}

.main .form-control {
    width: 360px;
    background-color: white;
}

.main .custom-file {
    width: 400px;
}
