.main .search-option {
    margin-top: 30px;
}

.main .search-option .calendar-option {
    margin-left: 398px;
    margin-right: 10px;
}

.main .calendar {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
    width: 170px;
    margin-right: 5px;
    margin-left: 5px;
}

.main .statistics {
    border-left: 5px solid black;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.main .statistics {
    margin-bottom: 15px;
}

.main .statistics .statistics-filename {
    margin-bottom: 0px;
    padding-top: 5px;
}