.main .term{
    background-color: white;
    padding: 10px;
    width: 500px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 6px gray;
}

.main .term-content {
    background-color: #EBEBEB;
    width: 430px;
    margin: 0px;
    padding: 10px;
}

.main #agreementSelect {
    border:    2px solid #121212;
    background-color: #EBEBEB;
    font-weight: bold;
    margin-top: 30px;
}

.main .term-select {
    width: 400px;
    margin-bottom: 30px;
}

.main .custom-file {
    width: 500px;
}

.main .add {
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main .close {
    padding: 0px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.main .button-primary-1 {
    margin-top: 30px;
    margin-left: -15px;
    width: 500px;
}